<div class="popup-medium">
    <header>
        <h2 class="popup-title text-center" *ngIf="!onPremisesUser.OrganizationOnPremisesUsersId">Add On Premises User</h2>
        <h2 class="popup-title text-center" *ngIf="onPremisesUser.OrganizationOnPremisesUsersId">Edit On Premises User</h2>
    </header>
    <div >
        <form #onPremisesUserForm="ngForm" id="onPremisesUserForm" name="onPremisesUserMainForm" autocomplete="off"
            (ngSubmit)="onSubmitOnPremisesUsers(onPremisesUserForm)">
            <div class="row">
                <div class="col-sm-6" [hidden]="true">
                    <div class="form-group">
                        <input matInput FocusElement type="text" class="form-control" name="OrganizationOnPremisesUsersId"
                            [(ngModel)]="onPremisesUser.OrganizationOnPremisesUsersId" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input matInput FocusElement placeholder="First Name" [(ngModel)]="onPremisesUser.FirstName" maxlength="100"
                            trim="blur" #firstName="ngModel" type="text" class="form-control" name="FirstName">
                            <div class="clearfix">
                                <mat-hint class="pull-right" align="end">{{firstName.value?.length || 0}}/100
                                </mat-hint>
                            </div>
                        <!-- <mat-error *ngIf="submittedSecurityForm && securityCode.errors?.required">
                            Security Code is required.
                        </mat-error> -->
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input matInput FocusElement placeholder="Last Name" [(ngModel)]="onPremisesUser.LastName" maxlength="100"
                            trim="blur" #lastName="ngModel" type="text" class="form-control" name="LastName">
                        <div class="clearfix">
                            <mat-hint class="pull-right" align="end">{{lastName.value?.length || 0}}/100
                            </mat-hint>
                        </div>
                        <!-- <mat-error *ngIf="submittedSecurityForm && securityCode.errors?.required">
                            Security Code is required.
                        </mat-error> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input matInput FocusElement placeholder="Full Name" [(ngModel)]="onPremisesUser.FullName" maxlength="200"
                            trim="blur" #fullName="ngModel" required type="text" class="form-control" name="FullName" />
                        <div class="clearfix">
                            <mat-error class="pull-left" *ngIf="onPremisesUserForm.submitted && fullName.errors?.required">
                                Full Name is required.
                            </mat-error>
                            <div class="pull-right">
                                <mat-hint align="end">{{fullName.value?.length || 0}}/200
                                </mat-hint>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input matInput FocusElement placeholder="Email" [(ngModel)]="onPremisesUser.Email" maxlength="200"
                            trim="blur" #email="ngModel" required type="text" class="form-control" name="Email">
                        <div class="clearfix">
                            <div class="pull-left">
                                <mat-error *ngIf="onPremisesUserForm.submitted && email.errors?.required">
                                    Email is required.
                                </mat-error>
                            </div>
                            <div class="pull-right">
                                <mat-hint align="end">{{email.value?. length || 0}}/200
                                </mat-hint>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input matInput FocusElement placeholder="Phone No" [(ngModel)]="onPremisesUser.PhoneNo" maxlength="20"
                            trim="blur" #phoneNo="ngModel" type="text" class="form-control" name="PhoneNo">
                            <div class="clearfix">
                                <div class="pull-right">
                                    <mat-hint align="end">{{phoneNo.value?.length || 0}}/20
                                    </mat-hint>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <mat-dialog-actions class="btn-box">
                <div class="full-width text-right">
                    <button mat-flat-button class="app-primary-button" id="submit-btn" type="submit" cdkFocusInitial >Save</button>
                    <button mat-flat-button class="app-secondary-button" id="close-btn" [mat-dialog-close]="true" cdkFocusInitial >Close</button>
                </div>
            </mat-dialog-actions>
        </form>
    </div>
</div>