<div class="popup-medium">
        <form [formGroup]="addInvoiceItemForm">
            <h2 class="popup-title text-center">Add Item</h2>
        <div mat-dialog-content>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <mat-label>Items</mat-label>
                        <mat-select class="form-control" formControlName="ItemName" aria-placeholder="Select Item" (selectionChange)="onItemChange($event)">
                          <mat-option *ngFor="let item of items" [value]="item.Item_Mst_Id">
                            {{item.Item_Name}}
                          </mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <mat-label>Quantity</mat-label>
                    <input type="number" class="form-control" formControlName="Quantity" matInput FocusElement placeholder="Select Quantity " min="1" max="99" (keyup)="onQuantityValue($event)" (change)="onQuantityValue($event)">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <mat-label>Price</mat-label>
                    <input type="text" class="form-control" [readonly]="!editable" formControlName="Price" matInput FocusElement placeholder="Enter Item Price"/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <span *ngIf = 'totalDays == 365'><mat-label>Total (per year)</mat-label>
                        </span>
                        <span *ngIf = 'totalDays != 365'><mat-label>Total (per month)</mat-label>
                        </span>
                        
                            <input type="text"class="form-control"  [readonly]="!editable" formControlName="Total"  matInput>
                        </div>
                </div>
            </div>
        </div>
        <div mat-dialog-actions class="btn-box">
            <div class="full-width text-right">
                <button mat-flat-button class="app-primary-button" color="primary" [disabled]="!addInvoiceItemForm.valid" (click)="onAddInvoiceItem()">Add Items</button>
                <button mat-flat-button class="app-secondary-button" color="secondary" (click)="onNoClick()">Cancel</button>
            </div>
        </div>
        </form>
    </div>