<div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" #changePasswordForm="ngForm" autocomplete="off" (ngSubmit)="onSubmit(changePasswordForm)" novalidate>            
                <div class="change-pass-form-wrapper">
                <span class="login100-form-title p-b-43">
                    Reset Password 
                </span>                 
                                
                                    <div class="form-group" data-validate = "Enter valid OTP Number">
                                        <mat-label for="otp">OTP</mat-label>
                                        <input class="form-control"  matInput FocusElement #otp_input="ngModel" [(ngModel)]="otp"
                                        name="otp" required maxlength="6" autocomplete="off" numbersOnly>                                                                    
                                     <mat-error *ngIf="submitted && otp_input.errors?.required">
                                        Please enter a valid OTP.
                                    </mat-error>
                                </div>
                                
                            <div class="container-login100-form-btn">    
                                <button mat-flat-button class="login100-form-btn" (click)="generateOTP()"
                                [disabled]="!token || !email || otpButtonDisable"  type="button">{{ otpButtonText }}</button>
                            
                            </div>                           
                        <div *ngIf = otpButtonDisable style="color: red;margin-bottom: 20px;"> <my-app-counter></my-app-counter></div>
                            <div class="form-group" data-validate="Password is required"> 
                                <mat-label for="new_password">New Password</mat-label>                         
                            <input class="form-control" matInput FocusElement #password="ngModel" [(ngModel)]="new_password" type="password"
                                name="new_password" required maxlength="20" minlength="8">
                            <mat-error *ngIf="submitted && password.errors?.required">
                                Please enter new password.
                            </mat-error>
                            <div class="cust-mat-error-box">
                                
                                <div class="cust-mat-error" *ngIf="submitted && passwordComponent.strength != 100 && password.value">
                                    Please enter valid password.</div>
                            </div>
                            <mat-hint align="end" aria-live="polite">
                                {{password.value?.length || 0}} / {{passwordComponent.max}}
                            </mat-hint>
                        </div>
                        
                        <mat-password-strength #passwordComponent [min]="8" [max]="20"
                            (onStrengthChanged)="onStrengthChanged($event)" [password]="password.value">
                        </mat-password-strength>
                        <mat-password-strength-info class="mat-hint" minCharsCriteriaMsg="Must be at least 8 characters long"
                            upperCaseCriteriaMsg="Must have an uppercase character"
                            lowerCaseCriteriaMsg="Must have an lowercase character"
                            digitsCriteriaMsg="Must have a number character"
                            specialCharsCriteriaMsg="Must have a special character"
                            [passwordComponent]="passwordComponent">
                        </mat-password-strength-info>

                        
                            <div class="form-group" data-validate="Password is required">
                                <mat-label for="confirm_password">Confirm Password</mat-label>
                            <input class="form-control" matInput FocusElement name="confirm_password" type="password"
                                #confirmpassword="ngModel" [(ngModel)]="confirm_password" required maxlength="20">
                                <!-- <span class="focus-input100"></span>
                                <span class="label-input100">Confirm Password</span> -->
                                <mat-error *ngIf="submitted && confirmpassword.errors?.required">
                                Please confirm new password.
                            </mat-error>
                            <div class="cust-mat-error-box" *ngIf="confirmPasswordNotMatched">
                                <div class="cust-mat-error">New password and confirm password does not match.</div>
                            </div>
                            <mat-hint align="end" aria-live="polite">
                                {{confirmpassword.value?.length || 0}} / {{passwordComponent.max}}
                            </mat-hint>
                        </div>
                       
                        
                        <div class="container-login100-form-btn">
                            <button mat-flat-button color="primary" type="submit"class="login100-form-btn" [disabled]="!token || !email" >Change
                                Password</button>
                        </div>
                    </div>
                </form>
                <div class="login100-more" style="background-image: url('assets/images/concept.jpg');">
                </div>
            </div>
</div>    