<div class="container-login100 login-main">
  <div class="wrap-login100 login-content" [class.hide-box]="forgetPass">
    <form
      #loginform="ngForm"
      (ngSubmit)="onSubmit(loginform)"
      class="login100-form validate-form"
    >
      <div class="form-outer">
        <div class="logo-box">
          <img src="../../../assets/images/no-code-app-logo.svg" alt="Logo" />
        </div>
        <div class="form-wrapper">
          <span class="login100-form-title p-b-43"> Admin Login </span>

          <div class="form-group">
            <mat-label for="Username">Email *</mat-label>
            <input
              class="form-control"
              name="Username"
              ngModel
              #usr="ngModel"
              required
              matInput
              (blur)="onBlurMethod($event)"
            />
            <mat-error *ngIf="submitted && usr.errors?.required">
              Email is required.
            </mat-error>
          </div>
          <div class="form-group">
            <mat-label for="Password">Password *</mat-label>
            <div
              class="form-control-password"
              style="display: flex; padding: 0px"
            >
              <input
                [type]="show ? 'text' : 'password'"
                name="Password"
                ngModel
                #pwd="ngModel"
                required
                matInput
                FocusElement
                (blur)="onBlurMethod($event)"
                style="padding: 0.375rem 0.75rem; width: 100vw"
              />
              <mat-icon
                style="align-self: center; margin-right: 2px"
                matSuffix
                (click)="show = !show"
                >{{ show ? "visibility_off" : "visibility" }}
              </mat-icon>
            </div>
            <mat-error *ngIf="submitted && pwd.errors?.required"
              >Password is required.</mat-error
            >
          </div>
          <div class="flex-sb-m w-full p-t-3 p-b-32">
            <div>
              <a
                href="javascript:void(0);"
                class="txt1 pull-right"
                (click)="openForgetPass()"
                >Forgot Password?</a
              >
            </div>
          </div>
          <div class="container-login100-form-btn">
            <button type="submit" class="login100-form-btn">Login</button>
          </div>
        </div>
      </div>
    </form>
    <!-- <div class="login100-more" style="background-image: url('./assets/images/concept.jpg');">
        </div> -->
  </div>
  <div class="wrap-login100 forgetpass-content" [class.hide-box]="!forgetPass">
    <form #forgot="ngForm" class="login100-form validate-form">
      <div class="form-outer">
        <div class="logo-box">
          <img src="../../../assets/images/no-code-app-logo.svg" alt="Logo" />
        </div>
        <div class="form-wrapper">
          <span class="login100-form-title p-b-43"> Forget Password </span>
          <div class="form-group">
            <mat-label for="email">Email *</mat-label>
            <input
              class="form-control"
              matInput
              FocusElement
              name="email"
              ngModel
              required
              #emailref="ngModel"
              type="email"
              email
            />
            <mat-error *ngIf="emailref.errors?.email">
              Email is invalid.
            </mat-error>
            <mat-error *ngIf="emailref.errors?.required">
              Email is required.
            </mat-error>
          </div>

          <div class="container-login100-form-btn">
            <button
              mat-flat-button
              (click)="forgotRequest(forgot)"
              class="login100-form-btn"
            >
              Submit
            </button>
            <a
              class="backToLogin"
              href="javascript:void(0);"
              (click)="backToLogin()"
              >Back to login</a
            >
          </div>
        </div>
      </div>
    </form>
    <!-- <div class="login100-more" style="background-image: url('./assets/images/concept.jpg');">
        </div> -->
  </div>
</div>
