<div class="main how-use-services">
  <div class="main-header appClearfix">
    <div class="pull-left"></div>
    <div class="pull-right">
      <div class="form-group search-common">
        <input
          matInput
          placeholder="Search information here..."
          class="form-control search-icon"
          [(ngModel)]="query"
        />
      </div>
    </div>
  </div>
  <mat-accordion>
    <mat-expansion-panel
      *ngFor="let item of this.questionData | StaticSearch: this.query"
    >
      <mat-expansion-panel-header class="main-header">
        <mat-panel-title>
          <span class="item-count">{{ item.question.index }} )</span
          >{{ item.question.value | highlightOnFilter: this.query || "" }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let a of item.answer">
            <mat-expansion-panel-header
              class="sub-header"
              collapsedHeight="48px"
              expandedHeight="48px"
            >
              <mat-panel-title>
                <span class="item-count">{{ a.answer.index }} )</span
                ><span [innerHTML]="a.answer.value"></span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul *ngIf="a.subanswers" class="list-inner">
              <li *ngFor="let b of a.subanswers">
                <span class="item-count">{{ b.index }} )</span
                ><span [innerHTML]="b.value"></span>
                <ul class="nested-list" *ngIf="b.subanswers">
                  <li *ngFor="let s of b.subanswers">
                    <span class="item-count">{{ s.index }} )</span
                    ><span [innerHTML]="s.value"></span>
                  </li>
                </ul>
              </li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <app-officebcp-footer></app-officebcp-footer>
</div>
