<!-- <app-office-bcp-header></app-office-bcp-header> -->

<div class="main payment-page">
    <div class="common-tile summary-details-box mat-elevation-z4">
        <div class="header">
            <div class="left-box">
                <h2>Billing Summary</h2>
            </div>
            <div class="right-box">
                <!-- <div class="timeDuration-lov">
                    <mat-form-field>
                        <mat-select>
                            <mat-option [value]="1">1</mat-option>
                            <mat-option [value]="2">2</mat-option>
                            <mat-option [value]="3">3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <button mat-button class="action-btn">Export PDF</button> -->
            </div>
        </div>
        <div class="content">
            <div class="graph-box">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColors">
                </canvas>
            </div>
        </div>
    </div>
    <div class="common-tile bills-history-box mat-elevation-z4">
        <div class="header">
            <div class="left-box">
                <h2>Billing History</h2>
            </div>
            <div class="right-box">
                <!-- <button mat-button class="action-btn">Download All</button> -->
            </div>
        </div>
        <div class="content">
            <div class="grid-header">
                <form [formGroup]="searchInvoiceForm" class="full-width clearfix">
                    <div class="left-box pull-left">
                        <label class="info-lbl">Show bills from :
                        </label>
                        <div class="clear-lov from-lov">
                            <div class="form-group with-datePicker full-width">
                                <input matInput FocusElement class="form-control" formControlName="FromDate" [matDatepickerFilter]=""
                                    [matDatepicker]="fromDatepicker" placeholder="From Date">
                                <mat-datepicker-toggle matSuffix [for]="fromDatepicker"></mat-datepicker-toggle>
                                <mat-datepicker #fromDatepicker></mat-datepicker>
                            </div>
                        </div>
                        <div class="clear-lov to-lov">
                            <div class="form-group with-datePicker full-width">
                                <input matInput FocusElement class="form-control" formControlName="ToDate" [matDatepickerFilter]=""
                                    [matDatepicker]="toDatepicker" placeholder="To Date">
                                <mat-datepicker-toggle matSuffix [for]="toDatepicker"></mat-datepicker-toggle>
                                <mat-datepicker #toDatepicker></mat-datepicker>
                            </div>
                        </div>
                        <div class="btn-box">
                            <button mat-flat-button class="app-secondary-button" (click)="searchInvoiceByDate()"> Search
                            </button>
                            <button mat-flat-button class="app-secondary-button" *ngIf="showClear"
                                (click)="clearFilter()"> Show All
                            </button>
                        </div>
                    </div>
                    <div class="right-box pull-right">
                        <div class="form-group search-common">
                            <input matInput (keyup)="applyFilter($event)" placeholder="Search"
                                class="form-control search-icon">
                        </div>
                    </div>
                </form>
            </div>
            <div class="common-grid-box">
                <div class=" ">
                    <div class="tbl-scroll-container">
                        <table #billingTable mat-table [dataSource]="dataSource" matSort class=" full-width users-grid">
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Sr. </th>
                                <td mat-cell *matCellDef="let element"> {{dataSource.filteredData.indexOf(element)+1}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Organization Name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="organization-col">
                                    Organization Name </th>
                                <td mat-cell *matCellDef="let element" class="organization-col">
                                    {{element.OrganizationName}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Invoice No">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="invoiceNumber-col"> Invoice
                                    Number </th>
                                <td mat-cell *matCellDef="let element" class="invoiceNumber-col ">
                                    {{element.Invoice_Number}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Invoice CreatedDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="invoiceDate-col"> Invoice
                                    Created Date </th>
                                <td mat-cell *matCellDef="let element" class="invoiceDate-col text-right">
                                    {{element.Timestamp | date :'medium'}} </td>
                            </ng-container>
                            <!-- <ng-container matColumnDef="Invoice UpdatedDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="invoiceDate-col"> Invoice
                                    Updated Date </th>
                                <td mat-cell *matCellDef="let element" class="invoiceDate-col text-right">
                                    {{element.UpdateDate | date}} </td>
                            </ng-container> -->
                            <ng-container matColumnDef="Amount">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="amount-col"> Amount($)
                                </th>
                                <td mat-cell *matCellDef="let element" class="amount-col text-right">
                                    {{element.Net_Amount | number:'1.2-2'}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Month">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="month-col"> Month </th>
                                <td mat-cell *matCellDef="let element" class="month-col text-right">
                                    {{element.Timestamp | date:'MMM'}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Status">
                                <th mat-header-cell *matHeaderCellDef class="icon-column" style="width: 260px;"> Status
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="status-running" *ngIf="element.Status == 0"><i class="material-icons"> autorenew </i>
                                        Invoice Generation Pending </span>
                                    <span class="status-running" *ngIf="element.Status == 1"><i class="material-icons"> autorenew </i>
                                        Payment Pending </span>
                                    <span class="status-running"*ngIf="element.Status == 2"><i class="material-icons"> autorenew </i>
                                        Setup Pending </span>
                                    <span class="status-healthy"*ngIf="element.Status == 3"><i class="material-icons">done</i> Active
                                    </span>
                                    <span >
                                        <button style="float: right;" mat-icon-button matTooltip="Edit"
                                            (click)="onEditInvoiceStatus(editStatus,element)" [hidden]="userInfo.Roles != 1">
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </span>

                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Action">
                                <th mat-header-cell *matHeaderCellDef class="action-col" style="width: 90px;"> Action
                                </th>
                                <td mat-cell *matCellDef="let element" class="action-col text-center">

                                    <button mat-icon-button matTooltip="Edit" (click)="onEditInvoice(element)">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button mat-icon-button matTooltip="Download details">
                                        <a [href]="fileUrl" download="file.txt"><i
                                                class="material-icons">get_app</i></a>
                                    </button>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Download">
                                <th mat-header-cell *matHeaderCellDef class="action-col"> Action </th>
                                <td mat-cell *matCellDef="let element" class="action-col text-center">
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                            </tr>
                        </table>
                    </div>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
    <ng-template #editStatus>
        <div class="popup-small">
            <form [formGroup]="editStatusForm">
                <div mat-dialog-content>
                    <div class="form-group full-width">
                        <mat-label>Edit Satus</mat-label>
                        <mat-select formControlName="status">
                            <mat-option *ngFor="let element of status " [value]=element.status>
                                {{element.value}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
                <div mat-dialog-actions class="btn-box">
                    <div class="full-width text-right">
                        <button mat-flat-button class="app-primary-button" (click)="EditStatus()"
                            [disabled]="editStatusForm.controls.status.errors?.required">Save</button>
                        <button mat-flat-button class="app-secondary-button" (click)="onNoClick()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>

    <app-officebcp-footer></app-officebcp-footer>
</div>