table {
    width: 100%;
  }
  .box-01, .box-02, .box-full, .box-half{
    -webkit-box-shadow: -1px 1px 7px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 7px -2px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 7px -2px rgba(0,0,0,0.75);
  }
  td, th {
    width: 15%;
  }
  .box-01{
    width: 29%;
  }
  .datepicker{
    width: 10%;
  }

  .box-02{
    width: 69%;
  }
  .box-full{
    width: 100%;
  }
  .box-half{
    width: 49%;
  }
  .box-title {
    font-size: 16px;
    font-weight: 600;
    color: #373634;
    border-bottom:1px solid #E9E9E9;
    padding: 12px 20px 9px 20px;
  }
  .button-text{
    color: #EE7B11;
    font-size: 14px;
    font-weight: 500;
  }

  a.button-text mat-icon{
    top: 5px;
    font-size: 18px;
    position: relative;
  }
  .box-body{
    padding:  30px 20px 40px 20px;
    font-size: 14px;
    font-weight: 500;
  }
  .box-body span{
    display: block;
  }
  .sm-title{
    font-size: 12px;
    color:rgb(201, 103, 12) ;
    font-weight: 500;
  }
  .weekdays-container a{
    display: inline;
    font-size: 11px;
    font-weight: 500;
    margin-right: 5px;
    color: white;
    background-color:#2DCC70;
    padding: 2px 5px;
  }
  .weekdays-container a:hover{
    background-color: rgb(37, 37, 37);
  }
  .weekdays-container a.disable{
    display: inline;
    font-size: 11px;
    font-weight: 500;
    margin-right: 5px;
    color:white;
    background-color:  rgb(173, 173, 173);
    padding: 2px 5px;
  }

  .box-body ul{
    margin: 15px 0px;
    padding: 0;
  }
  .box-body ul li{
    display: inline-block;
    margin-right: 20px;
    padding: 0 30px;
    text-align: center;
    text-transform: uppercase;
  }
  .box-body ul li.light{
    color: #59B0D4;
  }
  .box-body ul li.medium{
    color: #1481D4;
  }
  .box-body ul li.heavy{
    color: rgb(5, 48, 104);
  }
  .box-body ul li a{
    border:1px solid;
    border-radius: 2px;
    color: #C6782E;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: 500;
  }
  .box-body ul li a:hover{
    background-color: rgb(51, 51, 51);
    color: white;
    border-radius: 2px;
  }
  .box-body ul li p.large-number{
    font-weight: 500;
    font-size: 30px;
  }
  .float-none{
    float: none;
  }
  .text-align-center{
    text-align: center;
  }
   