<div class="addEditInvoice-popup common-popup">
  <h2 class="text-center">Organization Invoice Details</h2>
  <div class="m-b-10">
    <form [formGroup]="addOrganizationInvoiceForm" class="m-t-35">
      <div class="row">
        <div class="col-sm-6">
          <div class="full-width form-group">
            <mat-label>Organization Name</mat-label>
            <input class="form-control" type="text" [readonly]="!editable" formControlName="organizationName" matInput
              placeholder="Enter Organization Name" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="full-width form-group">
            <mat-label>Status</mat-label>
            <mat-select formControlName="Status" [disabled]="this.userInfo.Roles == 1 ? false : true" placeholder="Select Status" class="m-b-15">
              <mat-option *ngFor="let item of status |keyvalue"  [value]="item.key">
                 {{item.value}}
              </mat-option>
              <!-- <div *ngIf="Status == 0"> Invoice Generation Pending </div>
              <div *ngIf="Status == 1"> Payment Pending </div>
              <div *ngIf="Status == 2"> Payment Received </div> -->
            </mat-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="full-width form-group">
            <mat-label>Invoice Number</mat-label>
            <input type="text" class="form-control" [readonly]="!editable" formControlName="invoiceNumber" matInput
              placeholder="Enter Invoice Number" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="full-width form-group">
            <mat-label>Month</mat-label>
            <input type="text" class="form-control"  [readonly]="!editable" formControlName="Month" matInput
              placeholder="Select month" />
            <!-- <mat-select formControlName="Month" placeholder="Select month">
              <mat-option *ngFor="let item of Month |keyvalue" [value]="item.key">
                {{item.value}}
              </mat-option>
            </mat-select> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="full-width form-group">
            <mat-label>Pending Amount</mat-label>
            <input class="form-control" type="text" [readonly]="!editable" formControlName="pendingAmount" matInput
              placeholder="Pending Amount" />
          </div>
        </div>
      </div>
    </form>
  </div>
  
  <div class="m-b-30">
    <h2>Invoice Items
        <div class="btn-box">
            <button mat-flat-button [hidden]="this.userInfo.Roles == 1 ? false : true" class="app-secondary-button" href="javascript:void(0)" (click)="onAddInvoice()"> Add
            </button>
          </div>
        <div class="right-box pull-right">
            <div class="form-group search-common">
                    <input matInput (keyup)="applyitemFilter($event)" placeholder="Search" class="form-control search-icon">
            </div>
        </div>
    </h2>

    <div class="common-grid-box">
      <div class=" ">
        <div class="tbl-scroll-container">
          <table mat-table #invoiceItemsTable [dataSource]="dataSource" matSort class=" full-width invoiceItems-grid">

            <!-- Id Column -->
            <ng-container matColumnDef="Id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
              <td mat-cell *matCellDef="let element"> {{dataSource.filteredData.indexOf(element)+1}} </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="InvoiceId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> InvoiceId</th>
              <td mat-cell *matCellDef="let element"> {{element.Organization_Invoice_Id}} </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="Item Name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="itemName-col"> Item Name</th>
              <td mat-cell *matCellDef="let element"> {{element.Item_Name}} </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <!-- Price Column -->
            <ng-container matColumnDef="Quantity">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="quality-col"> Quantity </th>
              <td mat-cell *matCellDef="let element" style="text-align: right;"> {{element.Quantity}} </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <!-- Price Column -->
            <!-- <ng-container matColumnDef="Price">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="price-col"> Price($) </th>
              <td mat-cell *matCellDef="let element"> {{element.Price + '/month'}} </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container> -->

            <!-- TotalPrice Column -->
            <ng-container matColumnDef="TotalPrice">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="totalPrice-col"> Price($) </th>
              <td mat-cell *matCellDef="let element" style="text-align: right;"> {{element.TotalDays != 365 ? (element.Amount| number:'1.2-2') + ' /month' : (element.Amount| number:'1.2-2') + ' /year' }} </td>
              
              <td mat-footer-cell *matFooterCellDef style="text-align: right;">Total : {{calculateItemAmountTotal() | number:'1.2-2'}}</td>
            </ng-container> 

            <!-- Symbol Column -->
            <ng-container matColumnDef="Actions">
              <th mat-header-cell *matHeaderCellDef class="action-col"> Actions </th>
              <td mat-cell *matCellDef="let element" class="action-col text-center">
                <button mat-icon-button matTooltip="Edit" href="javascript:void(0)"
                  (click)="onEditInvoiceItems(element)">
                  <i class="material-icons">edit</i>
                </button>
                <button mat-icon-button matTooltip="Delete" href="javascript:void(0)"
                  (click)="onDeleteInvoiceItem(element)">
                  <i class="material-icons">delete</i>
                </button>
              </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="getDisplayedColumnsForItemList()"></tr>
            <tr mat-row *matRowDef="let row; columns: getDisplayedColumnsForItemList();"></tr>
            <tr mat-footer-row *matFooterRowDef="getDisplayedColumnsForItemList()"></tr>
          </table>
        </div>
        <mat-paginator #itemPaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
  <div class="m-b-30">
    <h2>
      Payment Details
      <div class="btn-box">
        <button mat-flat-button class="app-secondary-button" [hidden]="this.userInfo.Roles == 1 ? false : true" href="javascript:void(0)" [disabled]="trnsactionTotalAmount>=itemTotalAmount" (click)="onAddTransaction()"> Add
        </button>
      </div>
      <div class="right-box pull-right">
          <div class="form-group search-common">
                  <input matInput (keyup)="applytransactionFilter($event)" placeholder="Search" class="form-control search-icon">
          </div>
      </div>
    </h2>
   
    <div class="common-grid-box">
      <div class=" ">
        <div class="tbl-scroll-container">
          <table mat-table #transactionTable [dataSource]="datasource" matSort class=" full-width TranDetails-grid">

            <!-- Id Column -->
            <ng-container matColumnDef="Id">
              <th mat-header-cell *matHeaderCellDef> Id</th>
              <td mat-cell *matCellDef="let element"> {{datasource.filteredData.indexOf(element)+1}} </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="Source">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="source-col"> Source</th>
              <td mat-cell *matCellDef="let element" > {{element.Source}} </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!-- Amount Column -->
            <ng-container matColumnDef="Amount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="amount-col"> Amount($) </th>
              <td mat-cell *matCellDef="let element" style="text-align: right;"> {{element.Payment_Amount | number:'1.2-2'}} </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!-- TImestamp Column -->
            <ng-container matColumnDef="Timestamp">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="timestamp-col"> Timestamp</th>
              <td mat-cell *matCellDef="let element" style="text-align: right;"> {{element.TimeStamp | date:'medium'}} </td>
              <td mat-footer-cell *matFooterCellDef style="text-align: right;"> Total : {{calculateTransactionAmountTotal() | number:'1.2-2'}}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="Actions" >
              <th mat-header-cell  *matHeaderCellDef class="action-col"> Actions </th>
              <td mat-cell *matCellDef="let element"  class="action-col text-center">
                <button mat-icon-button matTooltip="Edit" href="javascript:void(0)"
                  (click)="onEditTransactionItems(element)">
                  <i class="material-icons">edit</i>
                </button>
                <button mat-icon-button matTooltip="Delete" href="javascript:void(0)"
                  (click)="onDeleteTransactionItem(element)">
                  <i class="material-icons">delete</i>
                </button>
              </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
            <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
            <tr mat-footer-row *matFooterRowDef="getDisplayedColumns()"></tr>
          </table>
        </div>
        <mat-paginator #transactionPaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
  <div class="footer-btn-box mat-dialog-actions">
    <div class="text-right full-width">
      <button mat-flat-button class="app-primary-button" matTooltip="Save" href="javascript:void(0)" [disabled]="!addOrganizationInvoiceForm.valid"
        (click)="onUpdateInvoiceStatus()"> Save </button>
      <button mat-flat-button class="app-secondary-button" (click)="onNoClick()"> Cancel </button>
    </div>
  </div>
</div>