<div class="popup-medium">
    <h2 class="popup-title text-center">Add Employee</h2>
    <form [formGroup]="addUserForm">
        <div mat-dialog-content>
            <!-- <div class="row"> -->
                <!-- <div class="col-sm-6"> -->
                    <div class="form-group">
                        <mat-label>Full Name *</mat-label>
                        <input type="text" class="form-control" formControlName="Full_Name" matInput FocusElement 
                            placeholder="Enter Full Name" />
                            <mat-error *ngIf="addUserForm.controls.Full_Name.errors?.required && addUserForm.controls.Full_Name.touched">Full Name is
                                <strong>required</strong></mat-error>
                    </div>
                <!-- </div>
                <div class="col-sm-6"> -->
                    <div class="form-group">
                        <mat-label>Email *</mat-label>
                        <input type="text" class="form-control" formControlName="Email" matInput FocusElement 
                            placeholder="Enter Emai" />
                        <mat-error *ngIf="addUserForm.controls.Email.errors?.required && addUserForm.controls.Email.touched">Admin Email is
                            <strong>required</strong></mat-error>
                        <mat-error *ngIf="addUserForm.controls.Email.errors?.email && (addUserForm.controls.Email.touched || !addUserForm.controls.Email.touched)">Please Enter A Valid Email
                            Address.</mat-error>
                    </div>
                <!-- </div> -->
            <!-- </div>
            <div class="row"> -->
                <!-- <div class="col-sm-6"> -->
                    <div class="form-group with-button">
                        <mat-label>Department *</mat-label>
                        <mat-select class="form-control" formControlName="departmentId"
                            (selectionChange)="onDepartmentChange($event)">
                            <mat-option *ngFor="let item of departments" [value]="item.Department_Mst_Id">
                                {{item.Department_Name}}
                            </mat-option>
                            <mat-error *ngIf="addUserForm.controls.departmentId.errors?.required">Department is
                                <strong>required</strong></mat-error>
                        </mat-select>
                        <button mat-icon-button (click)="addDepartment()" matTooltip="Add Department">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                <!-- </div>
                <div class="col-sm-6"> -->
                    <!-- <div class="form-group">
                        <mat-label>Usage Profile * </mat-label>
                        <input type="text" class="form-control" formControlName="Usage_Profile" matInput FocusElement 
                            placeholder="Light" [readonly]="true"/>
                         -->
                        <!-- <mat-select class="form-control" formControlName="Usage_Profile">
                            <mat-option *ngFor="let item of usageTypes | keyvalue" [value]=item.key>
                                {{item.value}}
                            </mat-option>
                        </mat-select> -->
                    <!-- </div> -->
                <!-- </div> -->
            <!-- </div> -->
            <!-- <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <mat-label>First Name</mat-label>
                        <input type="text" class="form-control" formControlName="First_Name" matInput FocusElement 
                            placeholder="Enter First Name" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <mat-label>Last Name</mat-label>
                        <input type="text" class="form-control" formControlName="Last_Name" matInput FocusElement 
                            placeholder="Enter Last Name" />
                    </div>
                </div>
            </div> -->
            <!-- <div class="row">
                <div class="col-sm-6"> -->
                    <div class="form-group ">
                        <mat-label>Phone Number</mat-label>
                        <input type="text" class="form-control" formControlName="PhoneNo" matInput FocusElement 
                            placeholder="Enter Phone Number" />
                    </div>
                <!-- </div> -->
                <!-- <div class="col-sm-6">
                    <div class="form-group"> -->
                        <!-- <mat-label>Password</mat-label>
                        <input type="text" class="form-control" formControlName="Password" matInput FocusElement 
                            placeholder="Enter Password" /> -->
                    <!-- </div> -->
                <!-- </div> -->
            <!-- </div> -->
            <!-- <div class="form-group">
            <mat-label>Full Name</mat-label>
        <input type="text" formControlName="fullName" matInput FocusElement placeholder="Enter Full Name"/>
        </div> -->
            <!-- <div class="form-group" >
            <mat-label>Usage Type</mat-label>
            <mat-select  formControlName="Usage_Profile">
              <mat-option *ngFor="let item of usageTypes | keyvalue" [value]=item.key>
                {{item.value}}
              </mat-option>
            </mat-select>
        </div> -->


            <!-- <a (click)="clearSelection()" *ngIf="addOrganizationForm.value.dayTimeSelection">clear</a>-->
        </div>
        <div mat-dialog-actions class="btn-box">
            <div class="full-width text-right">
                <button mat-flat-button class="app-primary-button" (click)="onInsertUser()" [disabled]="!addUserForm.valid"
                    >Add</button>
                <button mat-flat-button class="app-secondary-button" (click)="onNoClick()">Cancel</button>
            </div>
        </div>
    </form>
</div>