<div class="popup-medium">
    <form [formGroup]="editTransactionForm">
        <h2 class="popup-title text-center">Edit Transaction</h2>
    <div mat-dialog-content>

        <div class="full-width form-group">
            <mat-label>Source</mat-label>
        <input class="form-control" type="text" formControlName="Source" matInput FocusElement placeholder="Enter Source">
        </div>

        <div class="full-width form-group">
            <mat-label>Amount</mat-label>
        <input class="form-control" type="number" formControlName="Payment_Amount" min=1  [max]="transactionData.Amount" matInput FocusElement placeholder="Enter Amount">
        </div>

        <div class="full-width form-group">
            <mat-label>Payment Note</mat-label>
        <input class="form-control" type="text" formControlName="Payment_Notes" matInput FocusElement placeholder="Enter Note">
        </div>
    
    </div>
    <div mat-dialog-actions class="btn-box">
        <div class="full-width text-right">
            <button mat-flat-button class="app-primary-button" [disabled]="!editTransactionForm.valid" (click)="onUpdateTransaction()">Edit Transaction</button>
            <button mat-flat-button class="app-secondary-button" (click)="onNoClick()">Cancel</button>
        </div>
    </div>
    </form>
</div>