<div class="sidenav">
  <a routerLink="/overview" ><span class="material-icons">list_alt</span>Overview</a>
  <a routerLink="/organization"><span class="material-icons">apartment</span>Organization</a>
  <a routerLink="/employees"><span class="material-icons">group</span>Employees</a>
  <a href="#contact"><span class="material-icons">view_agenda</span>Departments</a>
  <a href="#usage-insights"><span class="material-icons">dashboard</span>Usage & Insights</a>
  <a href="#howtouse"><span class="material-icons">view_carousel</span>How To Use Services</a>
  <a href="#premises" routerLink="/on-premises-users"><span class="material-icons">recent_actors</span>On Premises
    Users</a>
  <a href="#payment"><span class="material-icons">payment</span>Billing</a>
  <a href="#cost"><span class="material-icons">monetization_on</span>Cost explorer</a>
  <!-- <a href="#support"><span class="material-icons">data_usage</span>Support</a> -->
</div>