<div class="main usage-insights-main">
    <div class="row">
        <div class="col-sm-8 left-side">
            <div class="common-tile  signins-lastDays-tile mat-elevation-z4">
                <div class="header">
                  <div class="left-box">
                    <h2>Sign-ins over last 30 days</h2>
                  </div>
                </div>
                <div class="content with-pad">
                    <div class="graph-box">
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                            [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColors">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 right-side">
            <div class="common-tile  mat-elevation-z4">
                <div class="header">
                    <div class="left-box">
                        <h2>Total Users</h2>
                    </div>
                </div>
                <div class="content with-pad">
                    <p class="value-count">
                    31
                    </p>
                </div>
            </div>
            <div class="common-tile  mat-elevation-z4">
                <div class="header">
                  <div class="left-box">
                    <h2>Total Signins</h2>
                  </div>
                </div>
                <div class="content with-pad">
                    <p class="value-count">
                        31
                    </p>
                </div>
            </div>
        </div>
    </div>
    <app-officebcp-footer></app-officebcp-footer>
</div>
